<!DOCTYPE HTML>
<html>
<head>
<title>关于我们</title>
<link href="{$smarty.const.css}/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{$smarty.const.js}/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="{$smarty.const.css}/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{$smarty.const.css}/hover.css" rel="stylesheet" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Lobortis Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<!--<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
<!-- 新增标题小图标 -->
<link rel="shortcut icon" href="{$smarty.const.images}/logo.ico">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{$smarty.const.js}/move-top.js"></script>
<script type="text/javascript" src="{$smarty.const.js}/easing.js"></script>
{literal}
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>{/literal}
<!-- //end-smoth-scrolling -->
<!-- animated-css -->
		<link href="{$smarty.const.css}/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="{$smarty.const.js}/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!-- animated-css -->
<style>
	.love-coder{
		
	}
	.coder-p{
		
		color:#666;
	}
	
</style>
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo wow bounceIn" data-wow-delay="0.4s">
				<a href="index.html"> <img src="{$smarty.const.images}/logo1.png" alt=""/> </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="{$smarty.const.images}/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="{$smarty.const.__APP__}/Index/index.html">首页</a></li>
					<li><a class="active" href="{$smarty.const.__APP__}/Project/about.html"  target="_blank">简介</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/suanfa.html">算法</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/single.html">项目</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/project.html">相册</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/contact.html">加入我们</a></li>
				</ul>
				 <script>
                              $( "span.menu").click(function() {
                                                                $(  "ul.res" ).slideToggle("slow", function() {
                                                                	$('ul.res')=display:block;
                                                                 // Animation complete.
                                                                 });
                                                                 });
                 </script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--about start here-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-4 about-left wow bounceIn" data-wow-delay="0.4s">
				<h3 style="color:#000;">关于我们</h3>
				<img src="{$smarty.const.images}/about1.jpg" alt=""/>
			</div>
			<div class="col-md-4 about-left wow bounceIn" data-wow-delay="0.4s">
				<h3 style="color:#000;">TopCoder工作室</h3>
				<!-- <div style="box-shadow:3px 3px 5px #ccc;border:1px solid #CCC;padding:10px;margin-bottom:10px;">
					<h4 style="padding:8px;color:white;background:#008FD5;display:inline;margin-left:-15px;">简要介绍</h4>
				</div> -->
				<br />
				<p style="letter-spacing:1px;text-indent:2em;color:#666;">TopCoder工作室成立于2010年10月, 是一个以南阳理工学院—计算机与信息工程学院为根据地的大学生团体。<!-- 我们的理念是全力以赴，追求卓越！ --></p>
				<br />
				<p style="letter-spacing:1px;color:#666;"><strong>算法组：</strong>这里云集了一群热爱算法，追求卓越的Coder。我们的目标就是成为TopCoder（顶级编程员）。</p>
				<br />
				<p style="letter-spacing:1px;color:#666;"><strong>项目组：</strong>我们是一群深爱网络开发的人，在一个立体的空间，我们自由舒展，自由发挥！</p>
				<script>
                                  $( "span.menu").click(function() {
                                                                    $(  "ul.res" ).slideToggle("slow", function() {
                                                                     // Animation complete.
                                                                     });
                                                                     });
		       </script>
			</div>
			<div class="col-md-4 about-left wow bounceIn" data-wow-delay="0.4s">
				<h3 style="color:#000;">加入我们</h3>
				
					<span style="width:15px;height:15px;background-image:url({$smarty.const.images}/li-ar.png);display:inline-block;"></span><h4 style="display:inline;">为热爱而生</h4>
					<p style="color:#666;text-indent:2em;letter-spacing:1px;overflow:hidden;">欢迎你加入我们TopCoder的大家庭，我们是一群有理想，有能力，有想法的大学生。我们不怕任何的困难，因为我们有激情和活力 </p>
				
				<span style="width:15px;height:15px;background-image:url({$smarty.const.images}/li-ar.png);display:inline-block;"></span>
				<h4 style="display:inline;">热爱编程</h4>
				<p style="color:#666;text-indent:2em;letter-spacing:1px;overflow:hidden;">我们，一群编程爱好者，无悔于青春的选择，用无数的代码，编织着高尚的梦想； 用严谨的逻辑，书写自己的辉煌！ </p>
				<span style="width:15px;height:15px;background-image:url({$smarty.const.images}/li-ar.png);display:inline-block;"></span> 
				<h4 style="display:inline;">喜欢网络开发</h4>
			    <p style="color:#666;text-indent:2em;letter-spacing:1px;"overflow:hidden;> 一群向上奋斗的年轻人，好奇的心，带我们进入这里；争先的思想，使我们留在这里；我们用自己的态度，承担起自己的大学生活!</p>
			</div>
			
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about end here-->
<!--team start here-->
<div class="team">
	<div class="container">
		<div class="team-main" > 
			<h3>我们的团队</h3>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="{$smarty.const.images}/port2.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="{$smarty.const.images}/port1.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="{$smarty.const.images}/port3.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="{$smarty.const.images}/port4.jpg" alt=""/>
			 </div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--team end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>校内友情链接</h3>
			  <ul class="ftr-list">
			  	<li><a href="http://www.nyist.net/">南阳理工学院 </a></li>
			  	<li><a href="http://cie.nyist.edu.cn/">计算机与信息工程学院</a></li>
			  	<li><a href="http://book.nyist.net/">图书馆 </a></li>
			  	<li><a href="http://172.31.31.34/jwweb/">教务管理系统</a></li>
			  	<li><a href="http://acm.nyist.net/">ACM在线测评系统</a></li>
			  	<li><a href="http://weibo.com/u/3969932680?is_hot=1#_loginLayer_1479735030734">南工ACM校训队微博</a></li>
			  	<li><a href="http://soft-bysj.nyist.net/fm360/">校园导航</a></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>如何成为优秀程序员？</h3>
			  <img src="{$smarty.const.images}/c4.jpg" alt=""/>
			  <p>秉持对编程的乐趣和激情，你最需要的是坚持和努力，而不是机遇。一个优秀的程序员就是那种即使是过单行道都要往两边看的人。——Doug Linder</p>
			  <div class="ftr-bwn">
			<a href="http://www.codeceo.com/article/10-effective-way-good-programmer.html" class="hvr-pulse">Read More</a>
			  </div>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>TopCoder工作室-专业创新团队</h3>
			  <P>我们有梦想，有追求，拥有学习算法的热情或者学习web设计和开发的强烈兴趣。我们拥有执着的精神和为梦想勇于拼搏的勇气。我们拥有强烈的上进心和责任心，以及具有团队中不可或缺的交流和分享能力！</P>
			  <h5>QQ群：209157082</h5> 
			  <h5>博客：<a href="http://blog.sina.com.cn/u/3969932680">南工ACM校集训队</a></h5>
			  <h5>地址：计算机与信息工程学院7#116</h5>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main wow bounceInLeft" data-wow-delay="0.4s">
			<p>Copyrights &copy; 2016 Afford All rights reserved | Designed by Topcoder</a></p>
		</div>
	</div>
</div>
<!--copyrights end here-->

</body>
</html>
