<!DOCTYPE HTML>
<html>
<head>
<title>联系我们</title>
{literal}
<style type="text/css">
    *{font-family:Microsoft YaHei;}

</style>{/literal}
<link rel="bookmark"  type="image/x-icon"  href="{$smarty.const.image}/logo.ico"/>
<link rel="shortcut icon" href="{$smarty.const.image}/logo.ico"> 
<link rel="icon" href="{$smarty.const.image}/logo.ico">

<link href="{$smarty.const.css}/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="{$smarty.const.css}/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom tdeme files -->
<meta name="viewport" content="widtd=device-widtd, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="topcoder, tc, topcoder工作室, tc工作室, 算法, 项目, 南阳理工" />
  {literal}
<style type="text/css">
    .container{
        margin-top:50px;
    }
    .show-style{
        padding:8px 0;
        border-top:1px solid #DDDDDD;
        border-bottom:1px solid #DDDDDD;
        background:#F9F9F9;
    }
    .td-center{
        text-align:left;
        padding-top:10px;
        letter-spacing:1px;
        line-height:1.6;
    }
    .col{
        margin-top:5px;
    }
    .col span{
        white-space:nowrap;
    }
    .reason{
        margin-bottom:30px;
    }
</style>
   {/literal}

</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo wow bounceIn" data-wow-delay="0.4s">
				<a href="index.html"> <img src="{$smarty.const.images}/logo1.png" alt=""/> </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="{$smarty.const.images}/icon.png" alt=""/></span>
				<ul class="res"> 
					<li><a href="{$smarty.const.__APP__}/Index/index.html">首页</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/about.html">简介</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/suanfa.html">算法</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/single.html">项目</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/Project.html">相册</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/contactive" class="active">联系我们</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--contact start here-->
	<div class="container"> {foreach $list as $k=>$v}
        <div class="row">
       
        
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-xs-12 footer-grid wow bounceIn show-style" data-wow-delay="0.4s">
            
                <div class="col-md-1 col-sm-4 col-xs-5 col"><b>{$v.n_name}</b></div>
                <div class="col-md-2 col-sm-4 col-xs-5 col"><b>{$v.n_grade}</b></div>
                <div class="col-md-3 col-sm-4 col-xs-5 col"><b><span>学号：</span></b>{$v.n_sno}</div>
                <div class="col-md-3 col-sm-4 col-xs-5 col"><b><span>QQ号：<span></b>{$v.n_qq}</div>
                <div class="col-md-3 col-sm-4 col-xs-5 col"><b><span>手机号：<span></b>{$v.n_phone}</div>
                
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 footer-grid wow bounceIn reason" data-wow-delay="0.4s">
                <div class="td-center"><b>加入原因</b>：{$v.n_why}</div>
            </div>

        
        </div>{/foreach}
        {$show}
    </div>
<!--contact end here-->

<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>校内友情链接</h3>
			  <ul class="ftr-list">
			  	<li><a href="http://www.nyist.net/">南阳理工学院 </a></li>
			  	<li><a href="http://cie.nyist.edu.cn/">计算机与信息工程学院</a></li>
			  	<li><a href="http://book.nyist.net/">图书馆 </a></li>
			  	<li><a href="http://172.31.31.34/jwweb/">教务管理系统</a></li>
			  	<li><a href="http://acm.nyist.net/">ACM在线测评系统</a></li>
			  	<li><a href="http://weibo.com/u/3969932680?is_hot=1#_loginLayer_1479735030734">南工ACM校训队微博</a></li>
			  	<li><a href="http://soft-bysj.nyist.net/fm360/">校园导航</a></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>如何成为优秀程序员？</h3>
			  <img src="{$smarty.const.images}/c4.jpg" alt=""/>
			  <p>秉持对编程的乐趣和激情，你最需要的是坚持和努力，而不是机遇。一个优秀的程序员就是那种即使是过单行道都要往两边看的人。——Doug Linder</p>
			  <div class="ftr-bwn">
			<a href="http://www.codeceo.com/article/10-effective-way-good-programmer.html" class="hvr-pulse">Read More</a>
			  </div>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>TopCoder工作室-专业创新团队</h3>
			  <P>我们有梦想，有追求，拥有学习算法的热情或者学习web设计和开发的强烈兴趣。我们拥有执着的精神和为梦想勇于拼搏的勇气。我们拥有强烈的上进心和责任心，以及具有团队中不可或缺的交流和分享能力！</P>
			  <h5>QQ群：209157082</h5> 
			  <h5>博客：<a href="http://blog.sina.com.cn/u/3969932680">南工ACM校集训队</a></h5>
			  <h5>地址：计算机与信息工程学院7#116</h5>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main wow bounceInLeft" data-wow-delay="0.4s">
			<p>Copyrights &copy; 2016 Afford All rights reserved | Designed by Topcoder</a></p>
		</div>
	</div>
</div>
<!--copyrights end here-->

</body>
</html>