<!DOCTYPE HTML>
<html>
<head>
<title>项目组</title>
{literal}
<style>
	body{font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;}
</style>
{/literal}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="{$smarty.const.css}/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{$smarty.const.js}/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="{$smarty.const.css}/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{$smarty.const.css}/hover.css" rel="stylesheet" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Lobortis Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<!--
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
-->

<!-- <link rel="bookmark"  type="image/x-icon"  href="{$smarty.const.images}/logo.ico"/> -->
<link rel="shortcut icon" href="{$smarty.const.images}/logo.ico">
<!-- <link rel="icon" href="{$smarty.const.images}/logo.ico"> -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{$smarty.const.js}/move-top.js"></script>
<script type="text/javascript" src="{$smarty.const.js}/easing.js"></script>
{literal}
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>{/literal}
<!-- //end-smoth-scrolling -->
<!---- animated-css ---->
		<link href="{$smarty.const.css}/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="{$smarty.const.js}/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!---- animated-css ---->
{literal}
<style>
	@media (max-width: 768px) {

	}
	@media (max-width: 464px) {
		.project-img{
			width:80%;
		}
		.number{
			width:50%;
			height:50%;
		}
		.date h3 {
			font-size: 1.5em;
			font-weight: 250;
			color: #fff;
			margin:0px;
		}
	}
	@media (max-width: 563px){
		.user {
			display:none;
		}
		.user-comment{
			float:none;
			margin-left:20px;
		}
	}
	.p-center{text-align:center;}
</style>
{/literal}
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo wow bounceIn" data-wow-delay="0.4s">
				<a href="index.html"> <img src="{$smarty.const.images}/logo1.png" alt=""/>  </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="{$smarty.const.images}/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="{$smarty.const.__APP__}/Index/index.html">首页</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/about.html">简介</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/suanfa.html">算法</a></li>
					<li><a class="{$smarty.const.__APP__}/Project/active" href="solution.html">项目</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/project.html">相册</a></li>
					<li><a href="{$smarty.const.__APP__}/Project/contact.html">联系我们</a></li>
				</ul>
				 <script>
                              $( "span.menu").click(function() {
                                                                $(  "ul.res" ).slideToggle("slow", function() {
                                                                 // Animation complete.
                                                                 });
                                                                 });
                 </script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--single page start here-->
<!--about start here-->
<div class="projects">
	<div class="container">
		<div class="projects-main">
			  <div class="projects-top">
			  	<h3>TopCoder项目组</h3>
			  	<p style="letter-spacing:1px;">TopCoder项目组成立于2010年，主要从事学习网站方面的相关设计与开发，主要学习HTML，CSS，Photoshop，JavaScipt，PHP，MySQL等。通过做项目来提升自己的实践能力和团队协作能力，积累经验，为以后自己的创业或就业提供丰富的实践锻炼。作为创新型团队，我们本着勇于创新，追求卓越的目标，学长学姐们提供耐心认真的指导，团队成员之间的分享，使个人及团队的学习效率更高，离自己的梦想更进一步！</p>
			  </div>
			  
			   <div class="p-single">
			    	<div class="col-md-2 p-single-left">
			    		<div class="number">
			    			<div class="date">
			    				<h3>01</h3>
			    			</div>
			    		</div>
			    		<div class="details">
			    				<p>名称：<span class="detail-col">和美装饰设计</span></p>
			    				<p>作者：<span class="detail-col">TopCoder项目组</span></p>
			    			</div>
			    	</div>
			    <div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
			  	 <div class="project-img">
			  		<img src="{$smarty.const.images}/8.jpg" alt=""/>
			  	 </div>
			  	 <div class="project-text">
			  	 	<h4> 河南南阳和美装饰设计官方网站 </h4>
			  		<ul style="list-style-image:url({$smarty.const.images}/li-ar.png);margin-top:20px;letter-spacing:1px;" class="main">
			  			<li>此网站主要运用到的知识：html、css以及PHP，一共五个页面。</li>
			  			<li>前台运用的知识有：html、css、html5、jQuery等。</li>
			  			<li>后台主要用到的知识：php、MySQL等。</li>
			  			<li>网站的制作离不开团队合作，队员之间应该团结互助，相互分享。</li>
			  		</ul>
			  	 </div>
			  	 <div class="clearfix"> </div>
			    </div>
			    <div class="clearfix"> </div>
			   </div>

			  <div class="p-single">
			  <br />
			  	<div class="col-md-2 p-single-left">
			  		<div class="number">
			  			<div class="date">
			  				<h3>02</h3>
			  			</div>
			  		</div>
			  		<div class="details">
			  				<p>名称：<span class="detail-col">白河商城</span></p>
			  				<p>作者：<span class="detail-col">TopCoder项目组</span></p>
			  			</div>
			  	</div>
			  <div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
				 <div class="project-img">
					<img src="{$smarty.const.images}/9.jpg" alt=""/>
				 </div>
				 <div class="project-text">
				 	<h4>白河商城</h4>
					
					<ul style="list-style-image:url({$smarty.const.images}/li-ar.png);margin-top:20px;letter-spacing:1px;" class="main">
			  			<li>这是一个中型的商城网站，主要用到：HTML、css以及jQuery等。</li>
			  			<li>后台主要用到的知识：php、MySQL等。</li>
			  			<li>效果：可以在里面挑选东西，并加入购物车，进行买东西。</li>
			  			<li>爱因斯坦曾说：什么是成功的秘诀？“A=X+Y+Z”，“A代表成功，X代表艰苦劳动，Y代表正确方法，Z代表少说废话”</li>
			  		</ul>
				 </div>
				 <div class="clearfix"> </div>
			  </div>
			  <div class="clearfix"> </div>
			 </div>
			 
			 <div class="p-single">
			  	<div class="col-md-2 p-single-left">
			  		<div class="number">
			  			<div class="date">
			  				<h3>03</h3>
			  			</div>		  			
			  		</div>
			  		<div class="details">
			  				<p>名称：<span class="detail-col">Xworld校园服务平台</span></p>
			  				<p>作者：<span class="detail-col">TopCoder项目组</span></p>
			  			</div>
			  	</div>
			  <div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
				 <div class="project-img">
					<img src="{$smarty.const.images}/10.jpg" alt=""/>
				 </div>
				 <div class="project-text">
				 	<h4>Xworld校园服务平台</h4>
					
					<ul style="list-style-image:url({$smarty.const.images}/li-ar.png);margin-top:20px;letter-spacing:1px;" class="main">
			  			<li>这是一个小型的商城网站，主要服务于学生。</li>
			  			<li>运用的知识有html、css以及javascript、php等。</li>
			  			<li>效果：学生可以在里面出售、交换商品，还有商品租赁，</li>
			  			<li>你什么都没有，所以你只能拼命！</li>
			  		</ul>
				 </div>
				 <div class="clearfix"> </div>
			  </div>
			  <div class="clearfix"> </div>
			 </div>
			 <!-- 新增 -->
			 <div class="p-single">
			   	<div class="col-md-2 p-single-left">
			   		<div class="number">
			   			<div class="date">
			   				<h3>04</h3>
			   			</div>
			   		</div>
			   		<div class="details">
			   				<p>名称：<span class="detail-col">汇腾环保设备有限责任公司</span></p>
			   				<p>作者：<span class="detail-col">TopCoder项目组</span></p>
			   			</div>
			   	</div>
			   <div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
			 	 <div class="project-img">
			 		<img src="{$smarty.const.images}/12.jpg" alt=""/>
			 	 </div>
			 	 <div class="project-text">
			 	 	<h4>汇腾环保设备有限责任公司官网</h4>
			 		
			 		<ul style="list-style-image:url({$smarty.const.images}/li-ar.png);margin-top:20px;letter-spacing:1px;" class="main">
			  			<li>网站的组成：头部、主体、尾部。</li>
			  			<li>头部和尾部：是一些基本信息，必不可少。</li>
			  			<li>主体：展示想要表达的东西。</li>
			  			<li>幸运之神的降临，往往只是因为你多看了一眼，多想了一下，多走了一步。</li>
			  		</ul>
			 	 </div>
			 	 <div class="clearfix"> </div>
			   </div>
			    <div class="clearfix"> </div>
			  </div>
			  <!-- 学习链接模块 -->
				<div class="blog-comment">
				 		<div class="col-md-2  user">
				 			<img src="{$smarty.const.images}/port-3.jpg" alt=""/>
				 		</div>
				 		<div class="col col-md-10 user-comment">
				 			<h4 class="p-center" style="color:white;">Web前端学习</h4>
				 		    <div class="col-md-4">
				 		    	<p class="p-center">主要的学习知识点：HTML、CSS、photoshop Javascript、jQuery</p>
				 		    </div>
				 		    <div class="col-md-4">
				 		    	<ul class="blank" style="list-style-image:url({$smarty.const.images}/li-ar.png);">
				 		    		<hr /><hr />
				 		    		<li><a href="https://www.chengrang.com/" target="_blank">WEB前端开发</a></li>
				 		    		<li><a href="http://www.cssmoban.com/" target="_blank">模版之家</a></li>
				 		    		<li><a href="http://www.w3school.com.cn/" target="_blank">W3school在线教程</a></li>
				 		    		
				 		    	</ul>
				 		    </div>
				 		    <div class="col-md-4">
				 		    	<ul class="blank" style="list-style-image:url({$smarty.const.images}/li-ar.png);">
				 		    		<hr /><hr />
				 		    		<li><a href="http://study.163.com/" target="_blank">网易云课堂</a></li>
				 		    		<li><a href="http://www.imooc.com/" target="_blank">慕课网</a></li>
				 		    		<li><a href="http://www.missyuan.com/forum-18-1.html" target="_blank">PS平面设计</a></li>
				 		    	</ul>
				 		    </div>
				 		</div>
				 	
				 	   <div class="clearfix"> </div>
				 	</div>
				 	<div class="blog-comment">
				 		<div class="col-md-2 user">
				 			<img src="{$smarty.const.images}/port-4.jpg" alt=""/>
				 		</div>
				 		<div class="col-md-10 user-comment">
				 			<h4 style="color:white;" class="p-center">PHP后台学习</h4>
				 		    <div class="col-md-4">
				 		    	<p class="p-center">主要的学习知识点： PHP、MySQL、 Linux、模版smarty</p>
				 		    </div>
				 		    <div class="col-md-4">
				 		    	<ul class="blank" style="list-style-image:url({$smarty.const.images}/li-ar.png);">
				 		    		<br />
				 		    		<li><a href="http://www.php100.com/" target="_blank">PHP100中文网</a></li>
				 		    		<li><a href="http://www.lampbrother.net/" target="_blank">LAMP兄弟连</a></li>
				 		    		<li><a href="http://www.itcast.cn/" target="_blank">传智播客</a></li>
				 		    	</ul>
				 		    </div>
				 		    <div class="col-md-4">
				 		    	<ul class="blank" style="list-style-image:url({$smarty.const.images}/li-ar.png);">
				 		    		<br />
				 		    		<li><a href="http://www.w3school.com.cn/" target="_blank">W3school在线教程</a></li>
				 		    		<li><a href="http://www.hjenglish.com/opencourses/" target="_blank">世界名校公开课</a></li>
				 		    	</ul>
				 		    </div>
				 		</div>
				 	   <div class="clearfix"> </div>
				 	</div> 
		    </div>
		 <div class="clearfix"> </div>
	 </div>
 </div>
<!--single page end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>校内友情链接</h3>
			  <ul class="ftr-list">
			  	<li><a href="http://www.nyist.net/">南阳理工学院 </a></li>
			  	<li><a href="http://cie.nyist.edu.cn/">计算机与信息工程学院</a></li>
			  	<li><a href="http://book.nyist.net/">图书馆 </a></li>
			  	<li><a href="http://172.31.31.34/jwweb/">教务管理系统</a></li>
			  	<li><a href="http://acm.nyist.net/">ACM在线测评系统</a></li>
			  	<li><a href="http://weibo.com/u/3969932680?is_hot=1#_loginLayer_1479735030734">南工ACM校训队微博</a></li>
			  	<li><a href="http://soft-bysj.nyist.net/fm360/">校园导航</a></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>如何成为优秀程序员？</h3>
			  <img src="{$smarty.const.images}/c4.jpg" alt=""/>
			  <p>秉持对编程的乐趣和激情，你最需要的是坚持和努力，而不是机遇。一个优秀的程序员就是那种即使是过单行道都要往两边看的人。——Doug Linder</p>
			  <div class="ftr-bwn">
			<a href="http://www.codeceo.com/article/10-effective-way-good-programmer.html" class="hvr-pulse">Read More</a>
			  </div>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3>TopCoder工作室-专业创新团队</h3>
			  <P>我们有梦想，有追求，拥有学习算法的热情或者学习web设计和开发的强烈兴趣。我们拥有执着的精神和为梦想勇于拼搏的勇气。我们拥有强烈的上进心和责任心，以及具有团队中不可或缺的交流和分享能力！</P>
			  <h5>QQ群：209157082</h5> 
			  <h5>博客：<a href="http://blog.sina.com.cn/u/3969932680">南工ACM校集训队</a></h5>
			  <h5>地址：计算机与信息工程学院7#116</h5>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main wow bounceInLeft" data-wow-delay="0.4s">
			<p>Copyrights &copy; 2016 Afford All rights reserved | Designed by Topcoder</a></p>
		</div>
	</div>
</div>
<!--copyrights end here-->

</body>
</html>